nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 90px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-evenly;
}

.nav-links li {
  list-style-type: none;
  opacity: 0.7;
  cursor: pointer;
}

.nav-links li:hover {
  opacity: 1;
  border-bottom: 4px solid hsl(136, 65%, 51%);
  padding-bottom: 0px;
  margin-bottom: -40px;
}

.invite-btn {
  color: #fff;
  background-image: linear-gradient(
    90deg,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  border: none;
  border-radius: 25px;
  padding: 8px 20px;
}

.hamburger-icon {
  display: none;
}

.hamburger-icon button {
  border: none;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  nav {
    padding: 15px 25px;
  }
  .hamburger-icon {
    display: block;
  }

  .hamburger-icon img {
    cursor: pointer;
  }
  .nav-links-container {
    display: none;
  }
  .nav-links-parent {
    display: block;
    background-color: #fff;
    position: absolute;
    top: 60px;
    margin-left: 60px;
    flex-direction: column;
    width: 70%;
    height: calc(100vh - 520px);
    border-radius: 10px;
  }
  .nav-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 120px;
    font-size: 20px;
  }
  .nav-links li {
    padding-top: 15px;
  }
}
